.bilhete-disp {
    border-radius: .4rem;
    box-shadow: 0 0 5px #00345971;
    padding: 5px 25px;
    margin-bottom: 20px;
}

.tran-1 {
    height: 40px;
    width: 80px;
}

.div-trans {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seat span {
    font-family: 'Quicksand-bold';
    font-size: 17px;
    color: #003459;
}

.ponto {
    font-family: 'Quicksand-bold';
    font-size: 22px;
    color: #003459;
    text-transform: uppercase;
    margin-right: 5px;
}

.hora {
    position: absolute;
    top: -18px;
    left: 0;
    font-family: 'Quicksand-semibold';
    color: #003459b7;
}

.viagem{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.viagem svg:nth-child(2){
    margin: 0 2vw;
}

.origem, .destino {
    display: flex;
    align-items: center;
}

.origem svg, .destino svg {
    height: 22px;
    width: 22px;
    fill: #0034596c;
    margin-right: 10px;
    margin-bottom: 6px;
}

@media (max-width: 475px) { 

    .travel-info{
        flex-direction: column;
    }
}

.travel-info{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.travel-info svg{
    height: 17px;
    width: 17px;
    margin-right: 8px;
    fill: #003459;
}

.travel-info div:nth-child(1){
    display: flex;
}

.travel-info div:nth-child(2){
    margin: 0 4vw;
}

.info{
    display: flex;
    align-items: center;
}

@media (max-width: 290px) {
    .travel-info div{
        display: block !important;
    }

    .travel-info div:nth-child(2){
        margin: 0;
    }
    
}

.info span{
    font-family: 'Quicksand-Bold';
    color: #003459;
    font-size: 18px;
}

.status{
    font-family: 'Quicksand-Bold';
    font-size: 22px;
    color: #EC2848;
}