.bus {
    border: solid #0034597c 2px;
    border-radius: .1rem;
    padding: 5px;
    margin-bottom: 20px;
}

.volante {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.volante-img {
    width: 30px;
    height: 30px;
}

.queqe-seat{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.seat{
    border: solid #003459 2px;
    border-radius: .2rem;
    width: 27px;
    height: 35px;
    color: #003459;
    font-family: 'Quicksand-Semibold';
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    cursor: pointer;
}