/*Importação de fontes*/

@font-face {
    font-family: 'Quicksand-Bold';
    src: url('../font/Quicksand/static/Quicksand-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand-Semibold';
    src: url('../font/Quicksand/static/Quicksand-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand-Medium';
    src: url('../font/Quicksand/static/Quicksand-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand-Regular';
    src: url('../font/Quicksand/static/Quicksand-Regular.ttf') format('truetype');
}

.trip-info{
    margin-top: 11vh;
    padding: 10px;
    background-color: #003459;
    color: #fff;
    display: flex;
}

.title{
    font-family: 'Quicksand-Semibold';
    color:rgba(255, 255, 255, 0.7);
    font-size: .9rem;
    text-align: center;
    margin-right: 2px;
}

.content{
    font-family: 'Quicksand-Semibold';
    font-size: 1.3rem;
}

.origem, .destino{
    font-family: 'Quicksand-Bold';
    text-transform: uppercase;
    font-size: 2rem;
}

.pontos{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 2vh 0;
}

.pontos svg{
    margin: 0 4vw;
}

.details{
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 768px) {
    .details{
        justify-content: space-between;
    }

    .details div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.trip-details{
    margin-top: 7vh;
}

.title-section{
    font-family: 'Quicksand-Semibold';
    color: #003459;
    font-size: 1.1rem;
}

/*CONFIGURAÇÃO DO INPUT*/

.bordas{
    display: flex;
    border-radius: 0.4rem;
}

.conjuntoInput{
    width: 100%;
    position: relative;
}

.entrada{
    width: 100%;
    border: solid #003459 2px;
    color: #003459;
    padding: 7px 5px;
    font-family: 'Quicksand-Bold';
    font-size: 18px;
    border-radius: 0.375rem;
    margin-bottom: 17px;
}

.bordas .conjuntoInput:nth-child(1){
    margin-right: 10px;
}

.entrada::placeholder{
    font-family: 'Quicksand-Bold';
    color: #0034597c;
    font-size: 18px;
}

.entrada:focus{
    color: #003459;
}

label{
    font-size: 14px;
    font-family: 'Quicksand-Bold';
    color: #003459;
    display: inline-block;
    background-color: #fff;
}

.conjuntoInput label{
    position:absolute;
    top: -13px;
    left: 10px;
    padding: 2px;
    z-index: 1;
}

.conjuntoInput label::after{
    content: "";
    width: 100%;
    height: 13px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

/*PAGAMENTO*/
.pagamento{
    border: solid #003459 2px;
    border-radius: .2rem;
    padding: 5px;
    margin-bottom: 20px;
}

.pagamento div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pagamento span{
    font-family: 'Quicksand-Bold';
    color: #003459;
    font-size: 1rem;
}

.pagamento hr{
    margin: .5rem 0;
}

.pagamento button{
    padding: 5px 25px;
    border: none;
    border-radius: .4rem;
    background-color: #003459;
    color: #fff;
    font-family: 'Quicksand-Semibold';
    width: 100%;
}

.pagamento button:nth-child(2){
    margin-top: 5px;
    background-color: #209E24;
}

.seat-info{
    border: solid #003459 2px;
    border-radius: .2rem;
    padding: 5px;
}

.seat-info div{
    display: flex;
    align-items: center;
}

.seat-info span{
    font-family: 'Quicksand-Bold';
    color: #003459;
    font-size: 1rem;
}

.reserved, .choosed{
    width: 40px;
    height: 18px;
    border-radius: .2rem;
    margin-right: 10px;
}

.reserved{
    background-color: #EC2848;
}

.choosed{
    background-color: #003459;
}